@charset "UTF-8";
body{
    padding: 0;
    margin: 0;
}

.header_util span a{
    text-decoration: none;
    color: black;
}
.in_page_wrap{
    
    background: transparent;
    
    padding: 0;
    margin: 0;
}

div.header_fixed{
    
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    margin: 0 auto;
    width: 100%;
    z-index: 999;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    min-width: 1200px;
}
div.header_flex{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header_btn{
    border: none;
    background-color: #fff;
}
.nav_header{
    width: 80%;
    margin: 0 auto;
    border: 1px solid black;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: end;
    justify-items: center;
    padding: 12px 0px;
    border: none;
    margin-bottom: 0;
    cursor: pointer;
    
}
.nav_header_li{
    
    align-items: center;
    justify-items: center;
    cursor: pointer;    
    width: 200px;
    height: 40px;
}
.nav_sub_header{

    list-style: none;
    padding-left: 0;
    display: none;
   
}

/* #cat ::before{
content: url("https://minipetmall.co.kr/upload/goods_data/222022550210652.jpg");
position: absolute;
top: 0;
background-size: 50%;
width: 50px;
height: 50px;
left: 0;
} */

.heaver_nav{

    width: 100%;
    height: 300px;
    margin: 0 auto;
}

a img{
    width: 100%;
    height: 100%;
}
.nav_sub_header_li{
    margin-top: 10px;
    /* margin: 0 auto; */
   
    padding-top: 10px;
    height: 50px;
    
}
.nav_sub_header_li a{

    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 20px;
 }

 .main_page_banner_text{
     position: absolute;
     top: 150px;
     left: 90px;
 }

.page-header{
    margin: 10%;
}
.img{
    background: url('http://www.costar.co.kr/img_up/shop_pds/costa20/design/sub_img/banner_05.jpg')
    no-repeat;
    background-size: 100%;
    width: 100%;
    height: 400px;
    margin-top: 10%;
}

div.inner_txt h2,p{
    margin-left: 30px;
}

div div.inner_txt{
    padding-top: 25px;
    color: white;
    font-size: 30px;
}

#banner{
    margin-top: 10%;
}

form.wrap{
    margin: 5% 10% 0 10%;
}

div strong.tit{
    display: block;
    position: relative;
    margin-bottom: 1%;
}
div strong span{
    position: absolute;
    right: 0;
    
}

div strong span b{
    color: red;
}

table.info{
    border: none;
    border-top: 1px #FFBE0A;
    border-collapse : collapse;
    width: 100%;
}
table tr td.col1{
    width: 10;
    height: 50px;
    text-align: center;
}

table tr td label.userName::before{
    content: '*';
    color: red;
}

table tr td label.userEmail::before{
    content: '*';
    color: red;
}

table tr td label.userContent::before{
    content: '*';
    color: red;
}

table tr td.col2{
    width: 80%;
}
table tr td.col2 input{
    height: 20px;
    margin: 1%;
}

td textarea{
    resize: none;
    width: 80%;
    height: 100px;
    margin: 1%;
}

div.btn{
    text-align: center;
}
.submit_btn{
    width: 10%;
    height: 35px;
    color: white;
    background-color: #FFBE0A;
    border: 1px solid #FFBE0A;
    cursor: pointer;
}

