<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성 (예습)</title>
</head>
<body>
    <h1>게시글 작성</h1>
    <div style="border: 1px solid #dc143c; width: 200px;" >
    <form action="/board/writeBoardPractice" method="post">
        <div>
            제목 입력 : <input type="text" name="title">
        </div>
        <div>
            내용 입력 :<textarea name="content" ></textarea>
        </div>
        <div>
            작성자 : <input type="text" name="writer">
        </div>
        <button type="submit">작성</button>
    </form>
    </div>
</body>
</html>